
@media (max-width:500px) {
    .card{
        width: 100%;
    }
}

@media (min-width:500px) and (max-width:700px) {
    .card{
        width: 75%;
    }
}

@media (min-width:700px) {
    .card{
        width: 50%;
    }
}